.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    background-color: #ccc;
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    height: 320px;
}

.register-title {
    font-size: 24px;
    margin-bottom: 24px;
    color: rgb(60, 51, 51);
    text-align: center;
}

.register-input {
    width: 90%;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #1e1854;
    border-radius: 10px;
    margin-bottom: 30px;
}

.register-button {
    display: block;
    width: 40%;
    padding: 10px;
    background-color: #798ca1;
    color: #fff;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 30px;

}

.register-button:hover {
    background-color: #0056b3;
}

.register-message {
    font-size: 14px;
    color: #e82b2b;
    margin-top: 10px;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
